---
interface Props {
  text: string;
  styles?: string
}
const {text, styles=""} = Astro.props;
---

<button type="submit" class={`bg-linear-to-b from-Teal-200 to-Cyan-500 ${styles} h-12 rounded-3xl hover:to-Teal-200 cursor-pointer`}>{text}</button>
