---
import Logo from '../assets/images/logo.svg';
import Image from 'astro/components/Image.astro';
---

<footer class="mt-[260px]">
  <Image src={Logo} alt='Fylo Logo' width='112' height='20' class='mb-10' />

  <div class='flex items-start gap-4 mb-4'>
    <Image
      src='/images/icon-location.svg'
      alt='Background'
      width='24'
      height='24'
      class=''
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua
    </p>
  </div>

  <div class='flex items-start gap-4 mb-4'>
    <Image
      src='/images/icon-phone.svg'
      alt='Phone icon'
      width='24'
      height='24'
    />
    <p>+1-543-123-4567</p>
  </div>

  <div class='flex items-start gap-4'>
    <Image
      src='/images/icon-email.svg'
      alt='Phone icon'
      width='24'
      height='24'
    />
    <p>example@fylo.com</p>
  </div>

  <ul class="flex flex-col gap-4 mt-14 mb-10">
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Jobs</a>
    </li>
    <li>
      <a href="#">Press</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
  </ul>

  <ul class="flex flex-col gap-4 mb-12">
    <li>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <a href="#">Terms</a>
    </li>
    <li>
      <a href="#">Privacy</a>
    </li>
  </ul>

  <ul class="flex justify-center gap-[10px]">
    <li class="border border-white size-[25px] rounded-full p-1">
      <a href="">
        <Image
          src='/images/facebook.svg'
          alt='Phone icon'
          width='24'
          height='24'
        />
      </a>
    </li>
    <li class="border border-white size-[25px] rounded-full p-1">
      <a href="">
        <Image
          src='/images/x.svg'
          alt='Phone icon'
          width='24'
          height='24'
        />
      </a>
    </li>
    <li class="border border-white size-[25px] rounded-full p-1">
      <a href="">
        <Image
          src='/images/instagram.svg'
          alt='Phone icon'
          width='24'
          height='24'
        />
      </a>
    </li>
  </ul>

</footer>
