---
import {Button} from '../compontents'
---
<section class="-mt-14 sm:px-10 sm:-mt-64">

  <h1 class="text-center text-xl font-Raleway font-bold sm:text-[40px]">All your files in one secure location, accessible anywhere.</h1>

  <p class="text-center text-sm mt-6 px-4 sm:text-xl sm:my-12">Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.</p>

  <div class="text-center mt-6 mb-10">
    <Button text='Get Started' styles="w-[240px]" />
  </div>
  
</section>
