---
import Image from 'astro/components/Image.astro';
import Ilustration from '../assets/images/illustration-intro.png';
---

<section class="border border-yellow-500">
  <Image class="mx-auto mt-12" src={Ilustration} alt="Ilustration" width="304" height="225" />
</section>