---
import Image from 'astro/components/Image.astro';
interface Props {
  src: string;
  alt: string;
  text: string;
}
const {src, alt, text} = Astro.props;
---
<div class='flex items-start gap-4 mb-4'>
  <Image
    src={src}
    alt={alt}
    width='24'
    height='24'
  />
  <p>{text}</p>
</div>