---
import Logo from '../../assets/images/logo.svg';
import Image from 'astro/components/Image.astro';
import ContactItem from './ContactItem.astro';
import MediaItem from './MediaItem.astro';
import FacebookIcon from '/public/images/facebook.svg';
import TwitterIcon from '/public/images/x.svg';
import InstagramIcon from '/public/images/instagram.svg';
import type { JSX } from "astro/jsx-runtime"; 

import { contactItems } from '../../const/contact-items';

interface MediaItem {
  svg: JSX.Element;
  url: string;
}

const mediaItems: MediaItem[] = [
  {
    svg: FacebookIcon,
    url: '#',
  },
  {
    svg: TwitterIcon,
    url: '#',
  },
  {
    svg: InstagramIcon,
    url: '#',
  },
];

---

<footer class="mt-[260px]">
  <Image src={Logo} alt='Fylo Logo' width='112' height='20' class='mb-10' />

  {
    contactItems.map(item => (
      <ContactItem {...item} />
    ))
  }

  <ul class="flex flex-col gap-4 mt-14 mb-10">
    <li>
      <a class="hover:font-bold" href="#">About Us</a>
    </li>
    <li>
      <a class="hover:font-bold" href="#">Jobs</a>
    </li>
    <li>
      <a class="hover:font-bold" href="#">Press</a>
    </li>
    <li>
      <a class="hover:font-bold" href="#">Blog</a>
    </li>
  </ul>

  <ul class="flex flex-col gap-4 mb-12">
    <li>
      <a class="hover:font-bold" href="#">Contact Us</a>
    </li>
    <li>
      <a class="hover:font-bold" href="#">Terms</a>
    </li>
    <li>
      <a class="hover:font-bold" href="#">Privacy</a>
    </li>
  </ul>

  <ul class="flex justify-center gap-[10px]">
    {
      mediaItems.map(item => (
        <MediaItem {...item} />
      ))
    }
  </ul>

</footer>
